$primary: rgb(136, 66, 194);
$primary-light: rgb(152, 47, 222);
$secondary: rgb(67, 151, 246);
$light-grey: rgb(175, 175, 175);
$medium-grey: rgb(130, 130, 130);
$dark-grey: rgb(80, 80, 80);
$white: rgb(255, 255, 255);
$black: rgb(17, 17, 39);
